.advantage {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.advantage .bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #222;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage .bg-video video {
  width: 100%;
}

.advantage .bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.advantage .bg-img img {
  width: 100%;
}

.advantage .bg-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.advantage .bg-logo img {
  width: 100%;
}

.advantage .nav-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.advantage .nav-cont img {
  position: absolute;
  opacity: 0;
  transition-duration: 600ms;
  transform: matrix(1, 0, 0, 1, 120, 0);
}

.advantage .nav-cont img.active {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.advantage .nav-btn {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.advantage .nav-btn .nav-box {
  position: absolute;
  bottom: 160px;
  height: 1310px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage .nav-btn .nav-box .btn {
  display: block;
  width: 1204px;
  height: 1310px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.advantage .nav-btn .nav-box .btn .nav-bg {
  height: 60%;
}

.advantage .nav-btn .nav-box .btn img {
  position: absolute;
}
